@use 'base/variables';
@use 'base/reset';
@use 'layout/header';
@use 'layout/mobile-nav';
@use 'blocks/card';
@use 'blocks/article';
@use 'blocks/code-block';


body.page {
    font-family: system-ui, -apple-system, sans-serif;
    background-color: var(--page-bg);
    color: var(--text-color);
    margin: 0;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: 768px) {
        padding: 2rem;
    }
}

.footer {
    border-top: 1px solid var(--border-color);
    padding: 0.5rem;
    text-align: center;
    color: var(--text-muted);
    font-size: 0.85rem;
    background-color: var(--bg-color);
}

.footer__copyright{
    margin: 0;
    @media (min-width: 768px) {
        padding: 1rem;
    }
}
